{% extends 'base.html' %}

{% block title %}My Top 10 Movies{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
  <h1 class="heading">Mis Colecciones</h1>
  <p class="description">Lista de colecciones de mis películas vistas.</p>
  {% for item in collections: %}
  <a class="card" style="width: calc(33% - 3rem)" href="{{url_for('home')}}">
    <div class="front" style="background-image: url('{{item[0].img_url}}');">
        <p class="large">{{item[1]}}</p>
    </div>
    <div class="back">
      <div>
    <div class="title">{{item[0].coleccion}} </div>
        <div class="rating">
            <label> </label>
          <i class="fas fa-star star"></i>
        </div>
          <p class="review"> </p>
        <p class="overview">
        </p>
      </div>
    </div>
   </a>
  {% endfor %}
    </div>
</div>

{% endblock %}